{% extends "website/base.html" %}
{% load static %}

{% block nav-contact %}active{% endblock %}

{% block title %}
    Contact | MetaSat
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>  
    <div class="mainstuff">

        <div class="row">    

            <div class="col-sm-12 col-md-9 offset-md-3">

                <div id="content">
                    <h1>Have a question?</h1>
                    <p style="padding-top:20px; margin:10px">Please submit an issue to the <a href="https://gitlab.com/metasat/metasat-toolkit">MetaSat GitLab repository</a>.
                        <br>Notice: Wolbach Library <a href="https://www.thecrimson.com/article/2024/3/19/wolbach-library-closure/">closed permanently</a> on March 22, 2024. MetaSat is now hosted by the <a href="https://ui.adsabs.harvard.edu/">Astrophysics Data System (ADS)</a>.
                    </p>
                </div>

            </div>
        </div>

        <div class="row">
            
            <div class="col-sm-12 col-md-4 offset-md-3">
                <p style="padding-top:20px; margin:10px">
                    <h2>Contributors</h2>
                    <br>Daina Bouquin, Principal Investigator (formerly John G. Wolbach Library)
                    <br>Daniel Chivvis, Content & Curation (formerly John G. Wolbach Library)
                    <br>Alfredos Damkalis, SatNOGS Support (Libre Space Foundation)
                    <br>Katie Frey, Web Support (formerly John G. Wolbach Library)
                    <br>Eleftherios Kosmas, SatNOGS Support (Libre Space Foundation)
                    <br>Pierros Papadeas, SatNOGS Support (Libre Space Foundation)
                    <br>Manthos Papamatthaiou, SatNOGS Support (Libre Space Foundation)
                    <br>Allie Tatarian, Content & Curation (formerly John G. Wolbach Library)
                    <br>Vasilis Tsiligiannis, SatNOGS Support (Libre Space Foundation)
                    <br/><br/><br/>&nbsp;
                </p>
            </div>

        </div>
    </div>
    <!-- end mainstuff -->
    {% include "website/footer.html" %}
</div>
{% endblock %}
