{% extends "website/base.html" %}
{% load static %}

{% block nav-contact %}active{% endblock %}

{% block title %}
    Contact | MetaSat
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>  
    <div class="mainstuff">

        <div class="row">    

            <div class="col-sm-12 col-md-9 offset-md-3">

                <div id="content">
                    <h1>Have a question?</h1>
                    <p style="padding-top:20px;">Please submit an issue to the <a href="https://gitlab.com/metasat/metasat-toolkit">MetaSat GitLab repository</a>. MetaSat is open source and always looking for contributors.
                    </p>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-12 offset-md-3">
                <h2>Contributors & Alumni</h2>
                <ul style="padding-top:20px; white-space: nowrap; overflow-x: auto;">
                    <li><strong>Daina Bouquin</strong> - PI, Wolbach Library*</li>
                    <li><strong>Daniel Chivvis</strong> - MetaSat Curator, <abbr title="Astrophysics Data System">ADS</abbr></li>
                    <li><strong>Alfredos Damkalis</strong> - SatNOGS, <abbr title="Libre Space Foundation">LSF</abbr></li>
                    <li><strong>Katie Frey</strong> - Web Lead, Wolbach Library*</li>
                    <li><strong>Eleftherios Kosmas</strong> - SatNOGS, <abbr title="Libre Space Foundation">LSF</abbr></li>
                    <li><strong>Pierros Papadeas</strong> - SatNOGS, <abbr title="Libre Space Foundation">LSF</abbr></li>
                    <li><strong>Manthos Papamatthaiou</strong> - SatNOGS, <abbr title="Libre Space Foundation">LSF</abbr></li>
                    <li><strong>Allie Tatarian</strong> - Docs Lead, Wolbach Library*</li>
                    <li><strong>Vasilis Tsiligiannis</strong> - SatNOGS, <abbr title="Libre Space Foundation">LSF</abbr></li>
                </ul>

                <p style="padding-top:20px;">*Notice: Wolbach Library <a href="https://www.thecrimson.com/article/2024/3/19/wolbach-library-closure/">closed permanently</a> on March 22, 2024. MetaSat is now hosted and curated by the <a href="https://ui.adsabs.harvard.edu/">Astrophysics Data System (ADS)</a> team.
                </p>

            </div>

        </div>
    </div>
    <!-- end mainstuff -->
    {% include "website/footer.html" %}
</div>
{% endblock %}
